extends layout

block content
  h1 Ventilasjon

  p
    h3 Hastighet
  div.input
    input(type="radio", name="speedMode" value='1')
    span.label Lav
  div.input
    input(type="radio", name="speedMode" value='2')
    span.label Medium
  div.input
    input(type="radio", name="speedMode" value='3')
    span.label Høy
  p 
    h3 Redusert Avtrekk
  div.input
    input(type="checkbox", id="unBalanced")
    span.label Aktiv
