doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/my-fonts.css')
    link(rel='stylesheet', href='/stylesheets/my-style.css')
  block content

  script(src='/socket.io/socket.io.js')
  script(src='/vendors/jquery/jquery.min.js')
  script(src='/vendors/bootstrap/js/bootstrap.min.js')
  script(src='/vendors/dragdealer/dragdealer.min.js')
  script(src='/javascripts/myApp.js')
